---
apiVersion: v1
kind: Service
metadata:
  name: {{ md.id.replace(".","-").lower() }}
  namespace: {{ namespace }}
spec:
  type: ClusterIP
  selector:
    app: {{ md.id.replace(".","-").lower() }}
  ports: {% for key, value in md.launchDescriptor.dockerArgs.HostConfig.PortBindings.items() -%}
  {%- set ports = key.split('/') %}
  - port: {{ ports[0] }}
  {%- endfor %}
